*{
    margin: 0;
    padding: 0;
}

p {
    font-family: din-condensed, sans-serif;
    font-style: normal;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.container-fluid{
    margin-top: 70px;
    width: auto;
    height: auto;
}

.content-box{
    margin: 0px 120px;
    height: calc(100vh - 70px);
}

.left-side{
    left: 0;
    top: 70px;
    height: 85vh;
    overflow: hidden;
    position: fixed;
}

.right-side{
    right: 0;
    top: 70px;
    height: 85vh;
    overflow: hidden;
    position: fixed;
}

.vl {
    width: 3px;
    height: 100%;
    background-color: black;
    margin: 5px auto;
}

.left-side .vertical-text{
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.right-side .vertical-text{
    writing-mode: vertical-rl;
    font-size: large;
}

.myphoto {
    height: calc(100vh - 100px);
    position: absolute;
}

.main-font{
    height: calc(100vh - 100px);
    font-family: Barlow Semi Condensed, sans-serif;
    line-height: 12rem;
    font-size: 13rem;
    position: absolute;
}
