h3 {
  font-weight: 600;
}

button {
  background-color: #fff;
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

button .row {
  justify-content: center;
}

.carousel-item {
  height: 100%;
}

.project-box {
  margin: 60px 120px;
  height: calc(100vh - 190px);
}

.project-content{
    height: 100%;
    width: 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(230,127,48)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(230,127,48)' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators li {
  background-color: rgb(255, 255, 255);
  background-color: rgb(230,127,48);
}